<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse-technical">Technical Courses</a>
                </h4>
            </div>
            <div id="collapse-technical" class="panel-collapse collapse in">
                <div class="panel-body">
                    <h6>- Mobile Application Development (CSE 5236)</h6>
                    <h6>- Computer Vision for Human-Computer Interaction (CSE 5524)</h6>
                    <h6>- Introduction to Neural Networks (CSE 5526)</h6>
                    <h6>- Project: Design, Development, and Documentation of Interactive Systems (CSE 3902)</h6>
                    <h6>- Survey of Artificial Intelligence I: Basic Techniques (CSE 3521)</h6>
                    <h6>- Survey of Artificial Intelligence II: Advanced Techniques (CSE 5522)</h6>
                    <h6>- Computer Networking and Internet Technologies (CSE 3461)</h6>
                    <h6>- Principles of Programming Languages (CSE 3341)</h6>
                    <h6>- Introduction to Databases I (CSE 3241)</h6>
                    <h6>- Foundations I: Discrete Structures (CSE 2321)</h6>
                    <h6>- Foundations II: Data Structures and Algorithms (CSE 2421)</h6>
                    <h6>- Software I: Components (CSE 2221)</h6>
                    <h6>- Software II: Software Development and Design (CSE 2231)</h6>
                    <h6>- Systems I: Introduction to Low-Level Programming and Computer Organization (CSE 2421)</h6>
                    <h6>- Systems II: Introduction to Operating Systems (CSE 2431)</h6>
                    <h6>- Fundamentals of Engineering for Honors I (ENGR 1281.02H)</h6>
                    <h6>- Fundamentals of Engineering for Honors II (ENGR 1282.01H)</h6>
                    <h6>- Introduction to Digital Logic (ECE 2060)</h6>
                    <h6>- Introduction to Analog Systems and Circuits (ECE 2020)</h6>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse-other">Other Courses</a>
                </h4>
            </div>
            <div id="collapse-other" class="panel-collapse collapse in">
                <div class="panel-body">
                    <h6>- Social, Ethical, and Professional Issues in Computing (CSE 2501)</h6>
                    <h6>- Computing Ethics (PHILOS 1337)</h6>
                    <h6>- American Attitudes About Technology (ENGR 2367.01H)</h6>
                    <h6>- Foundations of Higher Mathematics (MATH 3345)</h6>                                  
                    <h6>- Linear Algebra (MATH 3568)</h6>
                    <h6>- Introduction to Statistics Engineering (STAT 3470)</h6>
                    <h6>- Accelerated Engineering Calculus II (MATH 2162.02)</h6>
                    <h6>- Techniques of Political Analysis (POLITSCI 4781)</h6>
                    <h6>- Politics of Evil (POLITSC 4894H)</h6>
                    <h6>- Political Manipulation (POLITSC 3905)</h6>
                    <h6>- Introduction to Political Theory (POLITSC 2400)</h6>
                    <h6>- Introduction to Comparative Politics (POLITSC 1200)</h6>
                    <h6>- London City and Culture (ARCH 5798)</h6>
                    <h6>- Introduction to Children's Literature (EDUTL 2368)</h6>
                </div>
            </div>
        </div>
    </div>
</div>