<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse-skills">Languages</a>
                </h4>
            </div>
            <div id="collapse-skills" class="panel-collapse collapse in">
                <div class="panel-body container-fluid">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <h5>Advanced</h5>
                            <h6>- Java</h6>
                            <h6>- Python</h6>
                            <h6>- Dart</h6>
                            <h6>- C#</h6>
                            <h6>- MATLAB</h6>
                        </div>
                        <hr class="col-sm-12 visible-xs-block">
                        <div class="col-sm-4 col-xs-12">
                            <h5>Knowledgeable</h5>
                            <h6>- HTML5</h6>
                            <h6>- CSS</h6>
                            <h6>- SQL</h6>
                            <h6>- C/C++</h6>
                            <h6>- JavaScript</h6>
                            <h6>- Node.js</h6>
                            <h6>- Scala</h6>
                            <h6>- x86 Assembly</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse-frameworks">Frameworks</a>
                    </h4>
                </div>
                <div id="collapse-frameworks" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <h6>- Mockito</h6>
                        <h6>- Flutter</h6>
                        <h6>- Firebase</h6>
                        <h6>- jQuery</h6>
                        <h6>- JPA</h6>
                        <h6>- JSF</h6>
                        <h6>- JAX-RS</h6>
                        <h6>- Flask</h6>
                        <h6>- Apache Cordova</h6>
                        <h6>- Monogame</h6>                                 
                    </div>
                </div>
            </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse-skillsP">Software</a>
                </h4>
            </div>
            <div id="collapse-skillsP" class="panel-collapse collapse in">
                <div class="panel-body">
                    <h6>- Git</h6>
                    <h6>- IntelliJ IDEA</h6>
                    <h6>- Android Studio</h6>
                    <h6>- Visual Studio</h6>
                    <h6>- Eclipse</h6>
                    <h6>- SolidWorks</h6>
                    <h6>- Microsoft Office</h6>
                </div>
            </div>
        </div>
    </div>
</div>