<div class="branding col-xs-12">
    <a href=""><img class="nav-logo" src="../pics/N7ChipWRev.png"></a>
    <a><span class="nav-name">Nic Siebenaller</span></a>
</div>
<div class="sideLinks col-xs-10">
    <a href="../resume.html">
        <span class="nav-close-link fa fa-suitcase"/>
        <span class="fades link">Resume</span>
    </a>
    <a href="../contact.html">
        <span class="nav-close-link fa fa-user-circle-o"/>
        <span class="fades link">Contact</span>
    </a>
    <a href="../arch5798.html">
        <span class="nav-close-link fa fa-compass"/>
        <span class="fades link">ARCH 5798</span>
    </a>
    <a href="https://www.linkedin.com/in/nicholassiebenaller/">
        <span class="nav-close-link fa fa-linkedin"/>
        <span class="fades link">nicholassiebenaller</span>
    </a>
    <a href="https://www.github.com/nic7aller/">
        <span class="nav-close-link fa fa-github-alt"/>
        <span class="fades link">nic7aller</span>
    </a>
</div>
<div href="../resume.html" class="closebtn col-xs-2">
    <span id="closeArrow" class="fa fa-angle-left"/>
</div>